<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
    <title>First Assignment</title>
  </head>
  <body ng-app="LunchCheck">
    <h1>Lunch Menu</h1>
    <p>What are you having for lunch?</p>
    <div ng-controller='LunchCheckController'>
      <input type="text" ng-model="lunch">
      <button ng-click="checkLunch()">Check If too Much</button>
      <div>
        <br>
        {{msg}}
      </div>
    </div>
  </body>
</html>
